#iimage {
	width: 236px;
	margin: 0px 8px 16px;
	
	background-color: rgb(227, 227, 227);
	display: inline-block;
	border-radius: 15px ;
}

#iimage:hover {
  opacity: 0.7;
  transition: 0.5s;
}

#iimage > img{
	width: 100%;
	min-width: 236px;
	height: auto;
	border-radius: 15px 15px 0px 0px;
}

#imageHeader {
	margin: 8px 8px;
	padding: 0px 0px 6px 6px;

}
